<div class="container">

	<div class="span12">
		<div class="frosty">
			<h1 class="custom-h1">What we're up to<h1>
			</br>
			<h2 class="custom-h2">If you can imagine it, you can make it</h2>
			</br>
			<ul class="nav nav-list">
    			<li class="divider"></li>
    		</ul>
    		<h3 class="custom-h3">The Possible Project's Makerspace utilizes entrepreneurship to inspire young people who have untapped potential, empowering them with the skills required to achieve enduring personal and professional success. We guide our students through a novel dynamic curriculum, hands-on work experience, and assistance with entrepreneurial endeavors and career goals. We strive to have all our students use their skills to move through a high-level career path and improve their communities while remaining committed to the principle that anything is possible!</h3>
		</div>
	</div>
</div>



