<div class="container">

	<div class="span12">
		<div class="frosty">
				<h1 class="custom-h1">What you learn<h1>
				</br>
				<h2 class="custom-h2">If you can imagine it, you can make it</h2>
				</br>
				<ul class="nav nav-list">
	    			<li class="divider"></li>
	    		</ul>
	    	</br>
	    	<h1 class="custom-h1">How to use a Laser Cutter</h1>
	    	</br>
	    		<div class="video-align">
	    		<script src="http://player.ooyala.com/player.js?embedCode=EyZmQ5NTosyBXhMhSIz0O24amfk-_gLD&width=640&video_pcode=hhMnI6sYpNLKN_o5hP-1TMfZy1Zz&deepLinkEmbedCode=EyZmQ5NTosyBXhMhSIz0O24amfk-_gLD&height=360">
	    		</script>
			    </div>

			    <h2 class="custom-h2">Create an image that you wish to cut</h2>
			    <h3 class="custom-h3 curry-align">
			        Choose the image that you wish to cut. This can be from a camera, a drawing or a digital image that you creates. This image will need to be uploaded to your computer and into software that works with your laser cutter. Your laser cutter uses a software called CorelDraw. Click here of a tutorial on how to use it. 
			    </h3>

			    <h2 class="custom-h2">Choose the material you are going to cut your image onto</h2>
			    <h3 class="custom-h3 curry-align">

			        There are many different materials that a laser cutter can work with. Wood, acrylic and laser-safe plastic can both be cut and etched. Aluminum and glass can also be etched with a laser cutter.
				</h3>

			    <h2 class="custom-h2">Make sure the lens is clean</h2>
			    <h3 class="custom-h3 curry-align">

			        Check the lens to make sure it’s clean before starting to cut, or your image and cut may be off. To check the lens you will have to remove a few screws using a screwdriver. If the lens does need cleaning, use a cotton swab and rubbing alcohol to gently clean it.
				</h3>

			    <h2 class="custom-h2">Turn on your machine and get ready to cut</h2>
			    <h3 class="custom-h3 curry-align">

			        Turn on the machine and wait for it to warm up before starting. Go to your computer and in your software program go to "File" and then "Print." A Preferences menu should pop up allowing you to choose the cutting method. Most machines will have 2 cutting methods: "raster" and "vector." "Raster" is used when you wish to engrave something, and "vector" is used when you want to cut out pieces.
				</h3>


			    <h2 class="custom-h2">Set your laser cutter's line width and cutting speed and then cut out your image</h2>
			    <h3 class="custom-h3 curry-align">

			        You should set your cutting line according to the material you have, but also keep in mind that wider lines will take more time to cut and may result in a jagged cut. The cutting speed should also be set according the material you are cutting, but also whether you want to cut all the way through the material or just do laser etching. Once all your options are set, you can go ahead and cut your image
				</h3>
		</div>
	</div>