<div class="container">

	<div class="span12">
		<div class="frosty">
			<h1 class="custom-h1">What you learn<h1>
			</br>
			<h2 class="custom-h2">If you can imagine it, you can make it</h2>
			</br>
			<ul class="nav nav-list">
    			<li class="divider"></li>
    		</ul>
    		<h3 class="custom-h3">The new MakerSpace by the Possible Project give young entrepreneurs and makers a home to build, learn and embark onto the journey of entrepreneurship. Our entrepreneurs make money, run their buisnesses while receiving support from the community. Join our Makerspace today!</h3>
		</div>
	</div>