<div class="container">

	<div class="span7 offset2">
		<div class="frosty">
			<%= image_tag("Makerspace.jpg") %>
			<h3>If you can imagine it, you can make it</h3>
		</div>
	</div>

<!-- Adding the features kids -->

      <div class="row">
        <div class="span4">
        	<%= image_tag("kid1.jpg", :alt => "kid1", :class => 'img-circle') %>
          <h2>Lisa</h2>
          <h4>Awesome Plan Maker</h4>
        </div><!-- /.span4 -->
        <div class="span4">
        	<%= image_tag("kid1.jpg", :alt => "kid1", :class => 'img-circle') %>
          <h2>Tony</h2>
          <h4>Awesome Plan Maker</h4>
        </div><!-- /.span4 -->
        <div class="span4">
        	<%= image_tag("kid1.jpg", :alt => "kid1", :class => 'img-circle img-circle-small') %>
          <h2>Jonny</h2>
          <h4>Awesome Plan Maker</h4>


        </div><!-- /.span4 -->
      </div><!-- /.row -->
  

<!-- End of featured kids -->



</div>



