

<%= render 'layouts/header' %>

<%= yield %>

<div class="container-fluid">
	<div class="row">
		<div class="span4">

			<div class="well">
			  <h1 class="custom-h">Meet your Maker</h1>
				<p>
				  <%= image_tag("maria.png", :alt => "kid1", :class => 'img-circle img-circle-small') %> 
				</p>
				<p>
					Level <span class="badge badge-important">1</span>
				</p>
				<p>
				  <b>Name:</b>
			      Michelle Jamieson
				</p>
				<p>
				  <b>Email:</b>
				  grobins@gmail.com
				</p>
				<p>
				  <b>Bio:</b>
					My fondest memories of childhood were made in the kitchen with my grandmother. It wasn't a love of  cooking that inspired her to spend so much time there, but of wearing her beautifully self-designed aprons. The Possible Project has enabled me to build a business where I can share the passion I acquired from her and produce stunning aprons for kitchens everywhere.			
				</p>
			</div>
		</div>

		<div class="span4">
			<div class="well">
		  		<p>Placeholder for product image.<img></img></p>
			    <button class="btn btn-large btn-primary" type="submit">Purchase</button>		  		
			</div>
		</div>
	

		<div class="span4">
			<div class="well">
			  <p>I need to purchase materials to improve my work, and keep producing more things.  In order to keep my business open, I need to purchase 1,000 yards of fabric</p>
			  <p>Total Cost: $125</p>
			  <p>$50 to go!</p>
				<p>5 donors</p>
			    <div class="progress progress-striped active">
			       <div class="bar" style="width: 60%;"></div>
			    </div>
			    <button class="btn btn-large btn-primary" type="submit">Donate!</button>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>


</body>
